# Secret used for generating sessions
# Add a random value with a good enough pseudorandom number generator. One way is using the crypto module:
# node -e "console.log(crypto.randomBytes(16).toString(\"hex\"))"
# SESSION_SECRET=

# MongoDB Config
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_DATABASE=
MONGODB_OPTIONS=

# Server host. Default 127.0.0.1
# HOST=

# Server port. Ignored if running via docker-compose.yml. Default 3000
# PORT=

# Docker container port
CONTAINER_PORT=8081
